<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            Пользовательские тесты
        </title>
        {% include 'css.html' %}
        {% include 'js.html' %}
    </head>
    <body>
        {% include 'header.html' %}
        <div id="flash">
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                <div>
            <hr>
            {% endif %}
        </div>
        <div id = "Content" style="margin-left: 50px; margin-right: 50px;">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
    </body>
</html>