{% extends "base.html" %}

{% block content %}

<h2>Результаты теста &laquo;{{name}}&raquo;</h2>
<br>
<div style="width: 500px;">
    <h3>Статистика:</h3>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Количество вопросов
            <span class="badge badge-primary badge-pill">{{ count_all }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Верных ответов
            <span class="badge badge-primary badge-pill">{{ count_right }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Процент правильных ответов
            <span class="badge badge-primary badge-pill">{{ right_percent }}&#37;</span>
        </li>
    </ul>
    <br>
    <h3>Детализация:</h3>
    <ul class="list-group">
        {% for q_number, q_result in detail %}
        <li class="list-group-item">Вопрос {{ q_number }}:
        {% if q_result %}
            верно
        {% else %}
            ошибка
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}